db.sqlite3
*.sqlite3

**/migrations/**/*.pyc
**/migrations/**/__pycache__/
**/migrations/**/.__*
**/migrations/**/.*.swp

*/migrations/
!*/migrations/__init__.py   # Pero sí permitir este archivo

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/

venv/
ENV/
env/
.venv/

*.log

.env
.env.*

.idea/
*.iml

.vscode/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini